{% extends 'layout.html' %}

{% block content %}

    <div class="col-md-6 offset-md-3">

        {% if user.is_authenticated %}
        <h1>Hello world</h1>
        {% else %}

        <h1>Login</h1>
        <form method="post" action="{% url 'index' %}">
            {% csrf_token %}
            <form>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Username</label>
    <input name="username" placeholder="username" type="text" required class="form-control" id="exampleInputEmail1">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input name="password" placeholder="password" type="password" required class="form-control" id="exampleInputPassword1">
  </div>
  <button type="submit" class="btn btn-secondary">Login</button>
</form>
        </form>

        {% endif %}
    </div>


{% endblock %}